[menu footer_menu]
start = "id-2"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "More info"
link = "/privacy-policy"
theme = "dark-bottom"

[jumbotron footer_disclimer]
jumbotron = "footer"
background = "transperant"
templates = "template3"
description_limit = 0

[menu links]
start = "id-14"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu outputs]
start = "id-20"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1
==
{% component 'cookieConsent' %}
<div class="container-fluid border-box dark-background">
    <div class="container">
        <div class="row top-xs between-xs footer-menu-container">
            <div class="col-xs-12 start-md center-xs">
                <img class="project_footer_logo" src="{{ project_logo }}">
            </div>
            <div class="col-md-5 col-xs-12 links">
                LINKS
                {% component 'links' %}
            </div>
            <div class="col-md-5 col-xs-12 outputs">
                SAFEGUARD OUTPUTS
                {% component 'outputs' %}
            </div>
            <div class="col-md-2 col-xs-12 social-networks">
                Follow Safeguard
                <div class="icons">
                    <a href="https://www.safeguard.biozentrum.uni-wuerzburg.de/" target="_blank" class="pr p-secondary p-web normal" target="_blank"></a>
                    {% if enable_twitter and twitter_url %}
                    <a href="{{twitter_url}}" target="_blank" class="pr p-secondary p-twitter normal" target="_blank"></a>
                    {% endif %}
                    {% if enable_facebook and facebook_url %}
                    <a href="{{facebook_url}}" target="_blank" class="pr p-secondary p-facebook normal" target="_blank"></a>
                    {% endif %}
                    {% if enable_linkedin and linkedin_url %}
                    <a  href="{{linkedin_url}}" target="_blank" class="pr p-secondary p-linkedin normal" target="_blank"></a>
                    {% endif %}
                    {% if enable_youtube and youtube_url %}
                    <a  href="{{youtube_url}}" target="_blank" class="pr p-secondary p-youtube normal" target="_blank"></a>
                    {% endif %}
                    {% if enable_instagram and instagram_url %}
                    <a  href="{{instagram_url}}" target="_blank" class="pr p-secondary p-instagram normal" target="_blank"></a>
                    {% endif %}
                </div>
                <a> &nbsp; </a>
                <a href="{{'privacy-policy'|page}}">PRIVACY POLICY</a>
            </div>
            <div class="col-xs-12">
                <div class="row disclaimer">
                    <div class="col-md-2 col-xs-12 footer-right-border">
                        {% if (footer_funds_flag != null) %}
                            <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-sm col-xs-12">
                                {% if footer_funds_flag %}
                                <img class="mr-0 mr-lg-1" src="{{ footer_funds_flag }}"/>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-xs-12 center-xs">
                        <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-sm col-xs-12">
                            <img class="mr-0 mr-lg-1" src="{{'safeguard.svg'|media}}">
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="funding-text">
                            {{ footer_funds_text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid border-box light-background">
    <div class="container">
        <div class="row top-xs between-xs footer-menu-container">
            <div class="col-xs-12 powered-by center-xs">
                <span>Designed and powered by <a href="https://pensoft.net/" target="_blank">
                    <img class="pensoft_logo" src="{{ 'assets/images/pensoft-logo.svg'|theme }}" /></a>
                </span>
            </div>
        </div>
    </div>
</div>
