url = "/"
layout = "default"
title = "Safe-Hub"
is_hidden = 0
meta_description = "The Safe-Hub project"
robot_index = "index"
robot_follow = "follow"

[jumbotron]
jumbotron = "homepage-intro"
title = 0
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron jumbotron2]
jumbotron = "find-relevant-content-your-needs-who-are-you"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Calendar\Models\Entry;
use Carbon\Carbon;

function onStart(){
    $this['entries'] = Entry::where('end', '>', Carbon::now())->where('show_on_timeline', true)->where('is_internal', false)->orderBy('start', 'asc')->get();
}
?>
==
{% component 'jumbotron' %}
<div class="container">
    {% component 'jumbotron2' %}
</div>

{% if entries.count %}
<!-- latest from news -->
<div class="container-fluid highlights-news bg-secondary">
    <div class="container">
        <h1 class="display-1">Upcoming events</h1>
    </div>

    <!--<div class="trigger_prev"></div>
    <div class="trigger_next"></div>-->

    <div class="news-carousel container">
        {% for highlight in entries %}
        <div class="home-news-highlights">
            <div class="row news-item">
               <!-- <div class="col-md col-xs-12 home-news-cover">
                    <a href="/events/{{highlight.slug}}">
                        <img src="{{ highlight.cover.thumb(187, 191, {'mode': 'crop'})}}" alt="{{ highlight.title }}">
                    </a>
                </div>-->
                <div class="col-md-12 col-xs-12 news-content">
                    <p class="news-date">{{ highlight.published_at|date('d M Y') }}</p>
                    <a href="/events/{{highlight.slug}}"><div class="news-title">{{ highlight.title|length > 150 ? highlight.title|slice(0, 150)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : highlight.title|replace({"&nbsp;": " ", ".": ". "})  }}</div></a>
                    <!--<div class="news-description">{{ highlight.content | raw }}</div>-->
                    <div class="row read-more-row">
                        <a href="/events/{{highlight.slug}}" class="read-more">{{'Read more' |_}}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endif %}
