url = "/partners"
layout = "default"
title = "Partners"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[PartnersPage]
limit = 0
templates = "template7"
button_name = "Insider"
maxItems = 10
==
<?php
use Pensoft\Partners\Models\Partners;
use Rainlab\Location\Models\Country;

function onStart(){
	$this['partners'] =  Partners::get();
	$this['countries'] =  Country::where('is_enabled', true)->get();
}
?>
==
<div class="container-fluid partners_background">
	<div class="svg_map">
		{% partial 'components/svg' %}
	</div>
	<div class="container">
	<h1 class="page_heading ml-1">Partners</h1>
	<span class="tooltiptext" id="tooltip">Bulgaria</span>
	{% if countries.count() %}
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="row countries_list">
				{% for country in countries %}
				<div class="col-lg-3 col-xs-6 country-item">
					<a class="country_map" href="javascript:void(0);" onclick="onCustomPartners('{{ country.code }}')">
						<img alt="{{ country.name }}" src="{{'countries/'|media}}/{{country.name|lower|replace({' ': '_'})}}.svg">
					</a>
					<div class="country_label">
						{{ country.name }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	{% endif %}

	{% component 'PartnersPage' %}


	</div>
</div>