url = "/policy-corner"
layout = "default"
title = "Policy corner"

[siteSearchInclude]

[jumbotron policy]
jumbotron = "policy-corner"
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Workshops\Models\Workshop;

function onStart(){
    $this['briefs'] = Workshop::where('place', 'ilike', '%briefs%')->orderBy('date', 'desc')->get();
    $this['workshops'] = Workshop::where('place', 'ilike', '%workshops%')->orderBy('date', 'desc')->get();
}
?>
==
{% component 'siteSearchInclude' %}
    {% component 'policy' %}
<div class="container">
    <h1 class="display-1">Policy briefs and recommendations</h1>
    <div class="row center-xs policy-briefs">
        {% for pb in briefs %}
        <div class="col-md-4 col-xs-12">
            <div class="database-item">
                <div class="database-content">
                    <div class="database-year">{{ pb.date|date('Y') }}</div>
                    <div class="database-title">{{ pb.title }}</div>
                    <div class="database-description">
                        {{pb.description|raw}}
                        <a href="{{pb.url}}" class="btn btn-primary" target="_blank">{{'Access and read' |_}}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    <h1 class="display-1">Policy workshops</h1>
    <div class="row center-xs policy-workshops">
        {% for pb in workshops %}
        <div class="col-md-4 col-xs-12">
            <div class="database-item">
                <div class="database-content">
                    <div class="database-year">{{ pb.date|date('Y') }}</div>
                    <div class="database-title">{{ pb.title }}</div>
                    <div class="database-description">
                        {{pb.description|raw}}
                        <a href="{{pb.url}}" class="btn btn-primary" target="_blank">{{'Access and read' |_}}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>